img{
    border: 20px black;
    margin-top: 185px;
    margin-left: 515px;
}
.box {
    display: flex;
    margin-left: 5px;
}
a{
    text-decoration:none;
    color: grey;
}
.Search{
    display: flex;
    justify-content: center;
    border: solid rgb(255, 0, 0) 2px;
}
.EFE{
    display: flex;
    border: rgb(255, 0, 0) 2px solid;
    justify-content: center;
}
button{
    background-color: blue;
    color: rgb(253, 253, 253);
}