img{
    border: 20px black;
    margin-top: 185px;
    margin-left: 515px;
}
.box {
    border:5px;
    margin-top: 15px;
    margin-left: 1208px;
}
a{
    text-decoration:none;
    color: grey;
}
.Search{
margin-left: 560px;
}