body{
    display: flex;
}
.padre{
    width: 700px;
    height: 900px;
    border: solid 2px rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.hijo{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hijo02{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.hijo03{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.padre1{
    width: 700px;
    height: 900px;
    border: solid 2px rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 40px;
}
.hijo1{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.hijo2{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hijo3{
    display: flex;
    width: 150px;
    height: 150px;
    border: solid 2px rgb(68, 185, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.hijo11{
    width: 20px;
    height: 20px;
    border: solid 2px black;
}
.hijo12{
    width: 20px;
    height: 20px;
    border: solid 2px black;
}
.hijo13{
    width: 20px;
    height: 20px;
    border: solid 2px black;
}